html {
  margin: 0;
  background: url("https://cdn.sommeliertimes.com/news/photo/201912/15300_32083_1733.jpg")
    top center no-repeat;
  background-size: cover;

  --menu-wrap-width: 1160px;
}

#menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: var(--menu-wrap-width);
  top: 0;
  left: 0;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  display: inline-block;

  margin: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.menuImg {
  height: 280px;
  width: auto;
}

.menuName {
  margin: 4px auto;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.popupImg {
  height: 500px;
  width: auto;
}
