html {
  margin: 0;
  background: url("https://cdn.sommeliertimes.com/news/photo/201912/15300_32083_1733.jpg")
    top center no-repeat;
  background-size: cover;

  --menu-wrap-width: 1160px;
}

#menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: var(--menu-wrap-width);
  top: 0;
  left: 0;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  display: inline-block;

  margin: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.menuImg {
  height: 280px;
  width: auto;
  border-radius: 10px;
}

.menuName {
  margin: 4px auto;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

/* 팝업 설정 */
#popupWrap {
  position: fixed;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  display: none;
}

#popupInner {
  display: flex;
  flex-direction: column;
  width: calc(var(--menu-wrap-width) - 200px);
  background-color: aliceblue;
  margin: 8% auto;
}

.popupImg {
  height: 500px;
  width: auto;
  object-fit: fill;
  margin: 40px auto;
}

.popupName {
  margin: 10px auto;
}

.popupInfo {
  margin: auto;
  margin-top: 30px;
}
